@charset "UTF-8"

 * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;      
}

body {background-image: linear-gradient(to right, #C4D7D1, #A3848D);
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #978630;
    background-color: #F2EEB3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #68788C;
    text-align: center;
    text-shadow: 1px 1px 2px #8195ad;
}

h2 {color: #979DA6;

}

p {
    text-align: justify;
}
